
.search{
	display: flex;
	align-items: center;
	background-color: #e8ecf0;
	border-radius: 15px;
	padding: 5px 10px;
	font-family: 'Courier New', Courier, monospace;
	input{
	padding: 10px 20px 10px 10px;
}
}
.search-button{
	display: block;
}
